.button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 178px;
	height: 55px;
	color: #000;
	background: #fff;
	border: 1px solid #3c71ff;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
}
.button:hover {
	cursor: pointer;
	background: #3c71ff;
	color: #fff;
	box-shadow: 0px 6px 15px rgba(60, 113, 255, 0.4);
}
.button:hover .icon {
	fill: #fff;
}
.button-stretch {
	width: 100%;
}
.button-default {
	font-size: 13px;
	width: 190px;
}
.button-submit {
	font-size: 14px;
	background: #3c71ff;
	color: #fff;
}
.button-content {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
