.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
}
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	border-radius: 5px;
	position: absolute;
	top: 5px;
	left: 5px;
	height: 18px;
	width: 18px;
	background-color: #ababab;
}
.container input:checked ~ .checkmark {
	background-color: #fff;
	border: 1px solid #000;
}
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}
.container input:checked ~ .checkmark:after {
	display: block;
}
.container .checkmark:after {
	left: 8px;
	width: 7px;
	bottom: 6px;
	height: 20px;
	border: solid #3c71ff;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
