.input__container {
	margin-bottom: 12px;
}
.input__field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 55px;
	border-radius: 5px;
	background-color: #f1f5ff;
}
.input__field:hover {
	cursor: pointer;
}
.input__field--stretch {
	width: 100%;
}
.input__field--default {
	width: 190px;
}
.input__field--active {
	height: 100%;
	width: 100%;
	margin: 20px 11px 0px 11px;
	display: flex;
	flex-direction: column;
}
.input__label {
	margin-left: 10px;
	color: #757575;
}
.input__text {
	border: none;
	outline: none;
	background-color: #f1f5ff;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	width: 90%;
}
.input__text--text {
	margin-top: 6px;
}
.input__label--active {
	color: #757575;
	font-size: 10px;
}
.input__field--active-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}
.input__field--active-width {
	width: 100%;
}
.input__field--active-password {
	font-size: 10px;
}
.input__field--showpass {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.input__field--validate {
	display: flex;
	line-height: 12px;
	font-weight: bold;
	margin-top: 7px;
}
