.register {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f5ff;
	height: 100vh;
	font-family: 'Interstate-regular';
}
.register__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	background-color: #ffffff;
	height: 100vh;
	width: 100%;
	max-height: 680px;
	max-width: 610px;
	border-radius: 20px;
	box-shadow: 0px 5px 10px 5px rgba(222, 231, 255, 0.25);
}
.register__form {
	width: 400px;
	margin: 0 auto;
}
.register__intro {
	margin: 15px 0px 6px 0px;
	font-size: 18px;
	line-height: 22px;
}
.register__title {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}
.register__options {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 16px;
}
.register__email {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 22px;
}
.register__name {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.register__agreement {
	color: #757575;
	display: flex;
	line-height: 16px;
	font-size: 13px;
	margin: 20px 0px;
}
.register__isMember {
	color: #757575;
	font-size: 14px;
	display: flex;
	justify-content: center;
	margin-top: 12px;
}
.register__isMember--login {
	color: #3c71ff;
	text-decoration: none;
	padding-left: 3px;
}
.register__isMember--login:hover {
	cursor: pointer;
}
.register__email--line {
	font-size: 13px;
	width: 175px;
	margin-left: 9px;
	border-bottom: 1px solid #000000;
}
.return {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	align-self: flex-start;
	position: absolute;
	top: 32px;
	left: 45px;
}
.return:hover {
	font-weight: bold;
	cursor: pointer;
}
.return__back {
	padding-left: 3px;
}

/* MEDIA QUERIES ---------------------------------- */
@media (max-width: 490px) {
	.return {
		justify-content: flex-start;
		position: static;
	}
	.register__form {
		width: 380px;
	}
	.register__email--line {
		width: 155px;
	}
	.button--default,
	.input__field--default {
		width: 180px;
	}
}
@media (max-width: 410px) {
	.register__form {
		width: 350px;
	}
	.button--default,
	.input__field--default {
		width: 170px;
	}
	.register__email--line {
		width: 110px;
	}
}
